@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  overflow-x: hidden !important;
}

body {
  overflow-x: hidden !important;
  background-color: #013baf;
}

.navbar-text {
  font-size: 24px;
}

.hero-bg-left {
  background-color: #ffffff;
}

.hero-bg-right {
  background-color: #013bb0;
}

.container {
  scroll-snap-type: y mandatory;
  /* overflow-y: scroll; */
  /* max-width: 100vw !important; */
  height: 100vh;
}

section {
  /* height: 100vh; */
  scroll-snap-align: start;
}

/* separate content to more sections
and add height to subs like one two... */
