@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.navbar-text {
  font-size: 24px;
}

.hero-bg-left {
  background-color: #ffffff;
}

.hero-bg-right {
  background-color: #013bb0;
}
